[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
djangorestframework = "*"
geopy = "*"
psycopg2 = "*"
gunicorn = "*"
beautifulsoup4 = "*"
pyyaml = "*"
requests = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"
pillow = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
